<h1 class="ui center aligned icon header divising">
  <i class="circular heart icon"></i>
  Gerador de amorzinho
</h1>

<h4 class="ui horizontal divider header thepurple">
  <i class="tag icon thepurple"></i>
  gere agora o seu amorzinho agora mesmo já
</h4>

<div class="ui six column centered grid link cards">
  <div class="card">
    <div class="image">
      <img src="<%= image_path "avatar1.png" %>" />
    </div>
    <div class="content">
      <div class="header">Eu</div>
      <div class="description">
        <%= @lovebox %>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img src="<%= image_path "avatar2.png" %>" />
    </div>
    <div class="content">
      <div class="header">Você</div>
      <div class="description">
        <%= @response %>
      </div>
    </div>
  </div>
</div>

<div class="ui section divider"></div>

<div class="ui three column centered grid">
  <a href="<%= generate_path %>" class="ui button generate massive thepurple">Renato, você me ama?</a>
</div>
